/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  .column.is-5-desktop.is-6-widescreen {
    background: $color__light;
    opacity: 0.7;
    border-radius: 8px;
  }
}
